img{
  width: 600px;
  margin-left: 30%;
  margin-top: 8%;
}

body{
  text-align: center;
}

ul{
  list-style-type: none;
}

#hiddenOrder{
  display: none;
}

#pizza-urge{
display: flex;
align-items: center;
justify-content: center;
}

html{
  background-image: url(/pizza\ background.png);
  background-repeat: round;
}

#pizza-box{
  border: solid;
}