img{
  width: 600px;
  margin-left: 30%;
  margin-top: 8%;
}

body{
  text-align: center;
}

ul{
  list-style-type: none;
}
ul:hover{
  font-size: large;
  font-weight: bolder;
}

#hiddenOrder{
  display: none;
}

#pizza-urge{
display: flex;
align-items: center;
justify-content: center;
}

html{
  background-image: url(pizza\ background.png);
  background-repeat: round;
}

#pizza-box{
  border: solid;
  filter: drop-shadow(8px 8px 10px rgb(228, 95, 95))
}

#pizza{
  width: 50px;
}

.btn{
font-size: larger;
background-color: black;
border: solid 2px white;
color: white;
}

.btn:hover{
  color: rgb(247, 154, 154);
}


